.verath-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  /* break out of sidebar column and center relative to page */
  width: 100vw;
  margin-left: calc(50% - 50vw);

  margin-top: 1.5rem;
  margin-bottom: 2rem;
}